{%extends "square_content.html"%}
{% load i18n %}

{%block title%}{% trans 'Contact' %}{%endblock%}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block square_content %}
{% if is_ajax %}
	{{form.media}}
{% endif%}
<div id="contact-form">
    {% if messages %}
    <ul id="messages">
        {% for msg in messages %}<li class="{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {%if not message%}
    <h2 class="special-font">{% trans 'Contact Us' %}</h2>

    <form action="{{ request.path }}" method="post">
        {{ form.as_p}}
        <input type="submit" value="{% trans 'Send Your Message' %}"/>
	{% csrf_token %}
    </form>

    <div id="contact-info" class="rounded">
	    <span class="label">E-mail:</span>
	    <p class="email">
	    contacto<span class="at-sign">({%trans 'At sign'%})</span>new-vision.mx</p>

	    <span class="label"> Telefonos:</span>
	    <p class="phone">
	    (01) 722 541 18 59<br/>
	    (044) 722 240 79 09<br/>
	    (044) 722 247 01 65
	    </p>
	    <span class="label">Direccion:</span>
	    <p class="address">
		   Toluca, Estado de M&eacute;xico<br/>
	    </p>
    </div>

    {%else%}
    <p> 
    <span class="message-title">{% trans 'Your email' %}</span>: {{ message.sender_email }}<br/>
    <span class="message-title">{% trans 'Your Message' %}</span>: {{ message.content|linebreaksbr }} 
    </p>

    {%endif%}
</div>
{% endblock %}
