{% load catalog_extras thumbnail like_button%}

<!DOCTYPE html> 
{% if not is_ajax %}
<html lang="{%if lang%}lang{%else%}es{%endif%}">
<head>
    <title>New Vision | {%block title%}{%endblock%}</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />

    <meta property="og:url" content="http://{{ request.get_host }}{{ request.get_full_path }}"/>
    <meta property="og:title" content="New Vision Mx" />
    <meta property="og:type" content="company" />
    <meta property="og:image" content="http://{{ request.get_host  }}{{ STATIC_URL }}images/logo.png" />
    <meta property="fb:admins" content="100002099332467" />


    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/carousel.css" type="text/css" />

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script>

    {%block extra_head%}{%endblock%}

</head>
<body>
    <div id="vertical-wrapper">
        <div id="content-wrapper">
		<div id="content">
			{%block content%}
			{%endblock content%}
		</div>
		<div id="menu-bar">
			<a href="/" id="logo"><img src="{{STATIC_URL}}images/logo.png"></a>
			<ul id="navigation" class="fontface">
				{%catalog_menu%}
				<li id="link-contact"><a href="{%url contact-form%}">Contacto</a></li>
			</ul>
		</div>
        	{% like_button_tag %}
        </div>
    </div>
</body>
</html>
{% else %}
	{%block square_content%}
	{%endblock square_content%}

	<script type="text/javascript">
		$square_content = $('#square-content').removeClass('index');
    		simplecarousel($('#carousel'));
	{% thumbnail background.image "700x525" crop="center" as im%}
		$square_content.css('background-image', 'url('+'{{im.url}}'+')');
	{% empty %}
		$square_content.css('background-image', '');
	{% endthumbnail %}
	</script>
{% endif %}

{% like_button_js_tag %}
