body{
    font-family:Times New Roman, serif;
    background-color:black;
    color:black;
    margin:0;
    padding:0;
}

#loading-images-ignore {
	background-image:url('../images/loading.gif');
}

h2{
font-size:50px;
font-weight:normal;
margin:0;
color:white;
}

.clear{
	clear:both;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;
}

div.fb-like{
position:absolute;
left:11px;
bottom:21px;
}


#vertical-wrapper{
width:100%;
margin:10px 0;
position:relative;
}

#content-wrapper{
    width:960px;
    height:666px;
    display:block;
    margin:auto auto;
    background-image:url('../images/background.jpg');
    overflow:hidden;
    position:relative;
}


#logo{
position:absolute;
right:20px;
top:10px;
}

#logo img{
border:0px;
}

#navigation{
	padding:0;
	margin:0;
	float:left;
	position:absolute;
	width:200px;
	top: 230px;
	right:0px;
	list-style:none;
}

#navigation a{
    	color:black;
	text-decoration:none;
}

#navigation a.current{
	color:red;
}

#content{
	position:relative;
	float:left;
	width:755px;
	height:100%;
}

#menu-bar{
position:relative;
float:right;
}

.fontface{
font-size: 28px;
letter-spacing:-2px;
}

.rounded{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#square-content{
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 15px 15px 15px rgba(0, 0, 0 , 0.5);
	margin: 70.5px 0;
	height:525px;
	width:700px;
	position:relative;
	background-image:url(../images/square-page-background.jpg);

	-webkit-transition: left 0.2s linear;
   	-moz-transition: left 0.2s linear;
    	-o-transition: left 0.2s linear;
    	-ms-transition: left 0.2s linear;
	left:0;
}

#square-content.sliding{
	left: -720px;
}


#square-content.index{
    background-image:url('../images/index.jpg');
}

#image-wrapper{
	height:450px;
	padding:22px 0 0 20px;
	overflow:hidden;
}

#image-wrapper img{
	padding:15px;
	background-color:white;
	margin: 37px 0 0 33px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

#image-wrapper img.loading {
	margin: 198px 0px 0px 238px;
}

#arrows-description{
	position:absolute;
	bottom:5px;
	left:0;
	height:54px;
	width:100%;
	overflow:hidden;
}

.arrow{
height:35px;
width:30px;
position:absolute;
top:7.5px;
}

#left-arrow{
left:20px;
background-image:url(../images/left-arrow.png);
}

#rigth-arrow{
right:20px;
background-image:url(../images/rigth-arrow.png);
}

#description{
	width:580px;
	padding:0 60px;
	text-align:center;
}

#contact-form{
padding:42px 0  0 30px;
color:white;
}

#contact-form ul{
	list-style-type:none;
}

#contact-form table{
	width:100%;
}

#contact-form label{
	font-weight:bold;
	display:block;
	width:100px;
	padding-top:10px;
	color:white;
}

#contact-form input[type=text],
#contact-form input[type=submit],
#contact-form textarea{
	width:300px;
}

#contact-form textarea{
	height:134px;
}

#contact-info{
color:black;
position:absolute;
top:52px;
right:31px;
width:263px;
padding: 63px 20px 26px;
background-color:rgba(255,255,255,.8);
}

.label{
font-weight:bolder;
}

#contact-form p{
margin:0;
}

#contact-info p{
padding:4px 0 54px 0;
}

.errorlist{
color:yellow;
}

#images-small{
	margin-left: 18px;
}

#images-small img{
	padding:5px 3px;
	margin:0;
	background-color:white;
	cursor:pointer;
}

#link-contact{
	margin-top:30px;
}

#image-loader{
	display:none;
}

#big-image{
	cursor:pointer;
}
