#carousel{
padding:0;
margin:0;
}

.simple-carousel{
	padding:0px;
	list-style-type: none;
	margin:0;
}

.simple-carousel{
	padding:0;
	margin:0;
}

.simple-carousel a img,
.simple-carousel a{
border-width:0;
}

.simple-carousel li{
	float:left;
	padding:0 2px;
}

.simple-carousel-inner-wrapper{
	display:block;
	width:550px;
	height:50px;
	overflow:hidden;
	margin-left:54px;
}

.simple-carousel-wrapper{
	position:relative;
	height:50px;
	width:662px;
	overflow:hidden;
}

.simple-carousel-arrow{
	width:50px;
	height:100%;
	margin: auto 0;
	/*background-color:orange;*/
	display:block;
	position:absolute;
	top:0;
	cursor:pointer;
	/*top:39px;*/
}


.simple-carousel-left-arrow {
	left:0;
	background:url(../images/catalog_left_arrow.png) center no-repeat;
}

.simple-carousel-right-arrow{
	right:0px;
	background:url(../images/catalog_right_arrow.png) center no-repeat;
}


.simple-carousel-left-arrow.disabled{
	background:url(../images/catalog_left_arrow_disabled.png) center no-repeat;
}

.simple-carousel-right-arrow.disabled{
	background:url(../images/catalog_right_arrow_disabled.png) center no-repeat;
}
