{%extends "square_content.html"%}
{% load thumbnail %}

{%block title%}{{catalog.name}}{%endblock%}


{%block square_content%}

<div id="image-wrapper">
	{% thumbnail first_image "630x400" upsacale=0 as im%}
		<img src="{{im.url}}" id="big-image"
		data-big-image="{{im.url}}"
		alt="{{first_image.description}}"
		style="margin:{{im|margin:"630x400"}}"
		data-index="0"
		/>
	{% endthumbnail %}
</div>

<div id="arrows-description">
	<div id="images-small">
		<ul id="carousel" class="simple-carousel">
			{%for image in images%}
				{% thumbnail image.image "630x400" upscale=0 as im_big %}
					{% thumbnail im_big "40x40" crop="center" upsacale=0 as im %}
					<li>
						<img  src="{{im.url}}"
						data-big-image="{{im_big.url}}"
						alt="{{image.description}}"
						data-image-margin="{{im_big|margin:"630x400"}}"
						data-group="{{image.group}}"
						data-position="{{image.position}}"
						data-index="{{ forloop.counter0 }}"
						data-is-last="{{ forloop.last|default:""}}" 
						/>
					</li>
					{% endthumbnail %}
				{% endthumbnail %}
			{%endfor%}
		</ul>
	</div>
</div>
<img id="image-loader" />
{%endblock square_content%}

